.sun-primary{
    fill: var(--my-secondary);
}
.sun-secondary{
    fill: var(--my-yellow);
}

.moon-primary{
    fill: var(--my-secondary);
}
.moon-secondary{
    fill: var(--my-yellow);
}

.bars-primary {
    fill: var(--my-minor);
}
.bars-secondary {
    fill: var(--my-primary);
}